@import "tailwindcss";
@import "@effy/design-system/tokens.css";
@import "@effy/design-system/scale.css";

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
